<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Accounts</title>
</head>
<body>


<div th:if="${account.accountName != null}">
    
    <h1  th:text="${account.accountName}"></h1>

    
    <form th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}" method="post">
        <label for="accountName">Account name:</label>
      
        <input type="text" id="accountName" name="accountName" th:value="${account.accountName}" />
        
        <input type="submit" value="Save Account" />
    </form>

    <br/>

    
    <a th:href="@{/users/{userId}(userId=${user.userId})}">Back</a>

</div>


</body>
</html>










    






